<!DOCTYPE html>
<html lang="en">

<head>
  {% load static %}
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Docker - UI</title>
  <!-- Bootstrap core CSS-->
  <link href="{% static "vendor/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">
  <!-- Custom fonts for this template-->
  <link href="{% static "vendor/font-awesome/css/font-awesome.min.css" %}" rel="stylesheet" type="text/css">
  <!-- Page level plugin CSS-->
  <link href="{% static "vendor/datatables/dataTables.bootstrap4.css" %}" rel="stylesheet">
  <!-- Custom styles for this template-->
  <link href="{% static "css/sb-admin.css" %}" rel="stylesheet">
  <style type="text/css">
    .containter tr {
      cursor: pointer;
    }
  </style>
  <script type="text/javascript">
    var is_true = function () {
      let command = document.getElementById("command").value
      if (command.indexOf("docker") == 0) {
        return true;
      }
      alert("Your command is wrong, [ex: docker ..]");
      return false;
    }

  </script>  
</head>

<body class="fixed-nav sticky-footer bg-dark" id="page-top">
  <!-- Navigation-->
  {% include "default/nav.html" %}
  
  <div class="content-wrapper">
    <div class="container-fluid">
      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Instructions</li>
      </ol>
      <!-- Icon Cards-->

      <!-- Area Chart Example-->
      <div class="row">
        
        <div class="col-lg-12">
          <div class="card mb-3">
            <div class="card-header">
              <i class="fa fa-plus"></i> Exec Command</b>
            </div>
            <div class="card-body" style="min-height: 544px">
                {{result}}
                <form action="" method="post" onsubmit="return is_true()">
                  {% csrf_token %}
                  <textarea rows="10" id="command" name="command" class="form-control" aria-describedby="nameHelp" required></textarea></br>
                  <input class="btn btn-primary btn-block" type="submit" value="Execute">
                </form>
            </div>
          </div>
        </div>
  
      </div>
      <!-- Example DataTables Card-->
    </div>

    </div>
    <!-- /.container-fluid-->
    <!-- /.content-wrapper-->
    <footer class="sticky-footer">
      <div class="container">
        <div class="text-center">
          <small>Copyright © Your Website 2018</small>
        </div>
      </div>
    </footer>
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fa fa-angle-up"></i>
    </a>
    <!-- Logout Modal-->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            <a class="btn btn-primary" href="login.html">Logout</a>
          </div>
        </div>
      </div>
    </div>
    <!-- Bootstrap core JavaScript-->

    <script src={% static "vendor/jquery/jquery.min.js" %}></script>
    <script src={% static "vendor/bootstrap/js/bootstrap.bundle.min.js" %}></script>
    <!-- Core plugin JavaScript-->
    <script src={% static "vendor/jquery-easing/jquery.easing.min.js" %}></script>
    <!-- Page level plugin JavaScript-->
    <script src={% static "vendor/chart.js/Chart.min.js" %}></script>
    <script src={% static "vendor/datatables/jquery.dataTables.js" %}></script>
    <script src={% static "vendor/datatables/dataTables.bootstrap4.js" %}></script>
    <!-- Custom scripts for all pages-->
    <script src={% static "js/sb-admin.min.js" %}></script>
    <!-- Custom scripts for this page-->
    <script src={% static "js/sb-admin-datatables.min.js" %}></script>
  </div>

</body>

</html>
